* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: #FFF;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: 100px;
}

nav {
    text-align: right;
    margin-top: -80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15PX;
}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
}

#about {
    margin: 20px 10px;
    width: 100%;
    height: 500px;


}

.img-1 {
    background-image: url(./asset/images/background-img.jpg);
    background-size: cover;
    height: 500px;
}

.img-1 p {
    text-align: center;
    font-size: 15px;
}

.img-1 button {
    width: 90px;
    height: 40px;
    background-color: #007BFF;
    color: #FFF;
    margin-top: 430px;
}

h1 {
    text-align: center;
}

.cards-container {
    margin: 20px 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.welfare {
    width: 150px;
    background-color: rgb(187, 224, 203);
    text-align: center;
    padding: 0 30px;
}

.medical {
    width: 150px;
    background-color: rgb(187, 224, 203);
    text-align: center;
    margin-left: 150px;
    padding: 0 30px;
}



.online {
    width: 150px;
    background-color: rgb(187, 224, 203);
    text-align: center;
    margin-left: 150px;
    padding: 0 30px;
}

footer {
    background: #333;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer a {
    color: #FFF;
    text-decoration: none;
}